#!/bin/bash
# this will create a new stack if none exists, or if you've made changes to the
# docker-compose.yml then this will drop the old containers and create new ones
# with the new config.  DB data is stored in a volume so it *should* survive
# recreation of the DB container.
cd `dirname "$0"`

# see aws-s3-policy.json file for the required policy for this user, change the
# bucket name in the policy if required
export AWS_ACCESS_KEY_ID=replace-me      # TODO change this
export AWS_SECRET_ACCESS_KEY=replace-me  # TODO change this
export AWS_S3_BUCKET=some-bucket         # TODO change this

# if you change this, it's up to you to change it in the Postgres container. Or
# drop the DB data volume (and all your data) and then it'll be recreated with
# this password.
export DB_PASS=somesecurepassword        # TODO change this

# credentials for the TERN DOI minting service. Get them by logging into the
# webapp and copying them from there. You can find this page at the base URL
# that we use for minting DOIs.
export DOI_USER=someone@somewhere.com               # TODO change this
export DOI_APP_ID=1111111111111cbe3b8a06a40549c1c6  # TODO change this

# the DOI minting server that we call. The default is the test server so
# uncomment this line when you need to start using the prod server
# export DOI_SERVER_URL=https://doi.tern.uq.edu.au/

# A Sentry.io API key so we can report errors
export SENTRY_DSN=https://1111111111111111111111111111111111111111.ingest.sentry.io/2222222 # TODO change this

# note that we're specifying multiple names using a comma separator.
export DOMAIN_NAME=dev.s2s.somehost.com,s2s.someother.host,11.22.33.44 # TODO change this

# uncomment to enable more verbose logging in to the DOI facade container
# export DOI_LOG_LEVEL=debug

# The URL of the S2S server to use when minting DOIs. The DOI minting service
# will hit the URL we pass to make sure it responds with a 200. Basically, it's
# the public base URL of this server.
#   FIXME can't use this URL until it's registered with ANDS as a "registered top
#   level domain". Otherwise we get the error MT014.
#   export DOI_S2S_ROOT_URL=http://soils2satellites.org.au
export DOI_S2S_ROOT_URL=http://soils2sat.ala.org.au

export DB_BACKUP_CRON_SCHEDULE='@daily'
# Note: extracts are constantly backed up by a file system watcher
export DB_BACKUP_PREFIX=dev- # choose something unique for each environment
# if you run this in a non-prod environment, you can (should!) disable DB and
# extract snapshots by setting them to feb 31, i.e. never, thanks
# https://stackoverflow.com/a/13938099/1410035.
#export DB_BACKUP_CRON_SCHEDULE='0 0 31 2 *'

docker-compose up -d $@
