/* FONT STACK */
body,
input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

.visualisationContent {
    height: 300px;
}

.noDataRecordedChart {
    text-align: center;
    height: 300px;
}

.taxanomicName {
    font-style: italic;
}

